body {
    margin: auto;
    width: 40%;


}

#homeImage{
    left: 39.5vw;
position: relative;
}
#homepagetitle{

    font-size: xx-large;
    position: relative;
left: 42vw;

}
#TargetKilled{
   left: 38.5vw
}

