body {
    margin: auto;
    width: 40%;
}

#homeImage{
    left: 25vw;
    position: relative;
}
#homepagetitle{
    font-family:"Comic Sans MS" ;
    font-size: xx-large;
    text-align: center;

}

